extends layout

block content
  h1 Ingredient List
  
  div(class='row')
    div(class='col-xs-2 col-md-4')
    div(class='col-xs-8 col-md-4')
      ul(class='ingredientList')
        each ingredient in ingredient_list
          li(class='ingredientListItems')
            - let ingredientName = ingredient.displayName ? ingredient.displayName : ingredient.name;
            a(href=ingredient.url) #{ingredientName} 

        else
          li There are no ingredients.
    div(class='col-xs-2 col-md-4')